heading-1(weight = 500, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(120)
  line-height (120 / 120)

  +mobile()
    font-size rem(44)
    line-height (44 / 44)

heading-2(weight = 500, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(90)
  line-height (90 / 90)

  +mobile()
    font-size rem(34)
    line-height (34 / 34)

heading-3(weight = 500, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(32)
  line-height (32 / 32)

  +mobile()
    font-size rem(21)
    line-height (21 / 21)


text-1(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(50)
  line-height (50 / 50)

  +mobile()
    font-size rem(24)
    line-height (24 / 24)

text-2(weight = 400, transform = initial)
  font-weight weight
  text-transform transform
  font-size rem(24)
  line-height (24 / 24)

  +mobile()
    font-size rem(18)
    line-height (18 / 18)
